/*
Main stile sheet
*/
@import url('colors.css');
@import url('fonts.css');
/*
Font properties
*/
.uppercase {text-transform:uppercase;} .lowercase {text-transform:lowercase;} .capitalize {text-transform:capitalize;}
.super-bold {font-weight:900;} .bold {font-weight:bold !important;} .regular {font-weight:normal !important;} .light {font-weight:lighter !important;}
.italic {font-style:italic;} .underlined {text-decoration:underline;} .line-through {text-decoration:line-through;}

.font-s {font-size:12px !important;} .font-m {font-size:16px !important;} .font-l {font-size:20px !important;} .font-xl {font-size:24px !important;} .font-xxl {font-size:30px !important;} .font-h1-pp {font-size:50px !important;}
/*
Margin
*/
.nomar {margin:0px !important;}
.margin-auto {
	margin-left:auto;
	margin-right:auto;
}

.margin-all-s {margin:10px;} .margin-all-m {margin:20px;} .margin-all-l {margin:40px;} .margin-all-xl {margin:60px;} .margin-all-xxl {margin:80px;}

.top-margin-s {margin-top:10px;} .top-margin-m {margin-top:20px;} .top-margin-l {margin-top:40px;} .top-margin-xl {margin-top:60px;} .top-margin-xxl {margin-top:80px;}

.bot-margin-s {margin-bottom:10px;} .bot-margin-m {margin-bottom:20px;} .bot-margin-l {margin-bottom:40px;} .bot-margin-xl {margin-bottom:60px;} .bot-margin-xxl {margin-bottom:80px;}

.left-margin-s {margin-left:10px;} .left-margin-m {margin-left:20px;} .left-margin-l {margin-left:40px;} .left-margin-xl {margin-left:60px;} .left-margin-xxl {margin-left:80px;}

.right-margin-s {margin-right:10px;} .right-margin-m {margin-right:20px;} .right-margin-l {margin-right:40px;} .right-margin-xl {margin-right:60px;} .right-margin-xxl {margin-right:80px;}
/*
Padding
*/
.nopad {padding:0px !important;}

.pad-all-s {padding:5px !important;} .pad-all-m {padding:10px !important;} .pad-all-l {padding:20px !important;} .pad-all-xl {padding:35px !important;} .pad-all-xxl {padding:55px !important;}

.top-padding-m {padding-top:20px;} .top-padding-l {padding-top:40px;} .top-padding-xl {padding-top:60px;}
.bot-padding-m {padding-bottom:20px;} .bot-padding-l {padding-bottom:40px;} .bot-padding-xl {padding-bottom:60px;}
/*
Widths
*/
.full-width {width:100% !important;} .width95 {width:95%;} .width90 {width:90%;} .width85 {width:85%;} .width80 {width:80%;} .width75 {width:75%;} .width70 {width:70%;} .width65 {width:65%;} .width60 {width:60%;} .width55 {width:55%;} .width50 {width:50%;} .width45 {width:45%;} .width40 {width:40%;} .width35 {width:35%;} .width30 {width:30%;} .width25 {width:25%;} .width20 {width:20%;} .width15 {width:15%;} .width10 {width:10%;} .width5 {width:5%;}
/*
Table borders
*/
.collapse-border {border-collapse:collapse;}
.pad-border {border-collapse:separate;}
/*
Buttons
*/
.admin-btn {
	display:inline-block;
	padding:10px;
	user-select:none;
	cursor:pointer;
}
/*
Positioning
*/
.clear-float {float:none;} .float-left {float:left;} .float-right {float:right;} .clearfix {clear:both;}
.superior {z-index:10;} .inferior {z-index:5;}
.absolute {position:absolute;} .relative {position:relative !important;} .sticky {position:sticky !important;}

.adapt-all {
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}
.adapt-width {
	left:0px;
	right:0px;
}
.adapt-height {
	top:0px;
	bottom:0px;
}

.bottom {bottom:0px;} .bottom5 {bottom:5%} .bottom10 {bottom:10%} .bottom15 {bottom:15%} .bottom20 {bottom:20%} .bottom25 {bottom:25%} .bottom30 {bottom:30%} .bottom35 {bottom:35%} .bottom40 {bottom:40%} .bottom45 {bottom:45%} .bottom50 {bottom:50%} .bottom55 {bottom:55%} .bottom60 {bottom:60%} .bottom65 {bottom:65%} .bottom70 {bottom:70%} .bottom75 {bottom:75%} .bottom80 {bottom:80%} .bottom85 {bottom:85%} .bottom90 {bottom:90%}
.bottom95 {bottom:95%} .bottom100 {bottom:100%}

.top {top:0px;} .top5 {top:5%} .top10 {top:10%} .top15 {top:15%} .top20 {top:20%} .top25 {top:25%} .top30 {top:30%} .top35 {top:35%} .top40 {top:40%} .top45 {top:45%} .top50 {top:50%} .top55 {top:55%} .top60 {top:60%} .top65 {top:65%} .top70 {top:70%} .top75 {top:75%} .top80 {top:80%} .top85 {top:85%} .top90 {top:90%} .top95 {top:95%} .top100 {top:100%}

.left {left:0px;} .left5 {left:5%} .left10 {left:10%} .left15 {left:15%} .left20 {left:20%} .left25 {left:25%} .left30 {left:30%} .left35 {left:35%} .left40 {left:40%} .left45 {left:45%} .left50 {left:50%} .left55 {left:55%} .left60 {left:60%} .left65 {left:65%} .left70 {left:70%} .left75 {left:75%} .left80 {left:80%} .left85 {left:85%} .left90 {left:90%} .left95 {left:95%} .left100 {left:100%}

.right {right:0px;} .right5 {right:5%} .right10 {right:10%} .right15 {right:15%} .right20 {right:20%} .right25 {right:25%} .right30 {right:30%} .right35 {right:35%} .right40 {right:40%} .right45 {right:45%} .right50 {right:50%} .right55 {right:55%} .right60 {right:60%} .right65 {right:65%} .right70 {right:70%} .right75 {right:75%} .right80 {right:80%} .right85 {right:85%} .right90 {right:90%} .right95 {right:95%} .right100 {right:100%}

.mid-alignment, .top-alignment, .bot-alignment, .mid-alignment-children * {display:inline-block;}
.mid-alignment, .mid-alignment-children * {vertical-align:middle;} .top-alignment {vertical-align:top;} .bot-alignment {vertical-align:bottom;}

.text-right {text-align:right;} .text-left {text-align:left;} .text-centered {text-align:center;} .text-justified {text-align:justify;}

.text-justified.justify-match-parent::after {
	content:"";
	width:100%;
	display:inline-block;
}
/*
Borders
*/
.round {border-radius:1000px;}
.rounded {border-radius:5px} .rounded2 {border-radius:15px;}
/*
Display
*/
.inline {display:inline;} .block {display:block;} .inline-block {display:inline-block;} .hidden {display:none;}
/*
Overflow
*/
.hide-x {overflow-x:hidden;} .hide-y {overflow-y:hidden;} .hide-all {overflow:hidden;}
/*
Cursor
*/
.pointing {cursor:pointer;} .disabled {cursor:not-allowed;}
.not-selectable {
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
}
/*
General
*/
* {
	font-family: 'Montserrat', sans-serif;
	font-weight:normal;
	text-rendering:optimizeLegibility;
	scroll-behavior:smooth;
}
html, body {
   margin:0px;
   padding:0px;
   width:100%;
   height:100%;
}
h1, h2, h3, h4, h5, h6 {
	margin:0px 0px 0px 0px;
}
a {text-decoration:none !important;}
a:hover {color:inherit;}
a:focus {outline:none;}
b {font-weight:bold !important;}
i {font-style:italic !important;}
input, textarea, select, button {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	background-color:transparent;
	border:solid 1px transparent;
}
input:focus, textarea:focus, select:focus, button:focus {outline:none !important;}
input[type="checkbox"] {
	border:none !important;
	padding:0px !important;
}
ul {
	padding:0px !important;
	margin:0px !important;
}
ul li {list-style-type:none;}
input[name="logout"] {
	position:absolute;
	right:0px;
	top:0px;
}
img {width:100%;}
.container-fluid {
	width:100%;
	margin:0px;
	padding:0px;
}
.row {
	width:100%;
	clear:both;
}
.row::before, .row::after {
	content:"";
	width:100%;
	display:table;
}
/*
Custom menu
*/
.custom-menu-container {
	font-family:Arial;
	width:250px;
	height:auto;
	max-height:250px;
	background-color:#333;
	border-radius:3px;
	position:absolute;
	z-index:99999999;
	overflow-y:scroll;
	text-align:left;
	font-size:15px;
}
.custom-menu-container #close-custom-menu {
	color:#efefef;
	cursor:pointer;
}
.custom-menu-container ul {
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}
.custom-menu-container ul li {
	list-style-type:none;
	color:#efefef;
	padding:10px;
	background-color:inherit;
	border-top:solid 1px #555;
	border-bottom:solid 1px #555;
	cursor:pointer;
	user-select:none;
}
.custom-menu-container ul li:first-child {
	border-top:none;
}
.custom-menu-container ul li:last-child {
	border-bottom:none;
}
.custom-menu-container ul li:hover {
	background-color:#555;
}
/*
Toast
*/
.toast {
	width:300px;
	height:auto;
	max-height:100px;
	padding:6px 10px;
	background-color:rgba(0, 0, 0, 0.7);
	color:#efefef;
	border-radius:3px;
	position:fixed;
	z-index:99999998;
	overflow-y:scroll;
}
.toast, .toast * {font-size:14px;}
.toast.toast-top-left {
	top:2%;
	left:2%;
}
.toast.toast-top-right {
	top:2%;
	right:2%;
}
.toast.toast-top-center {top:2%;}
.toast.toast-center-center {top:40%;}
.toast.toast-center-left {
	top:40%;
	left:2%;
}
.toast.toast-center-right {
	top:40%;
	right:2%;
}
.toast.toast-bottom-center {bottom:2%;}
.toast.toast-bottom-left {
	bottom:2%;
	left:2%;
}
.toast.toast-bottom-right {
	bottom:2%;
	right:2%;
}
/*
Loading Spinner
*/
.loading-spinner {
	display:inline-block;
	vertical-align:middle;
	margin:0px 5px;
	width: 18px;
	height: 18px;
	border-style:dotted;
	border-top-color:rgba(255, 255, 255, 1);
	border-top-width:6px;
	border-left-color: rgba(255, 255, 255, 0.7);
	border-left-width:5px;
	border-bottom-color: rgba(255, 255, 255, 0.4);
	border-bottom-width:4px;
	border-right-color: rgba(255, 255, 255, 0.1);
	border-right-width:3px;
	border-radius: 50%;
	animation-name:reverseLoadingSpinner;
	animation-iteration-count:infinite;
	animation-duration:0.5s;
}
.loading-spinner.red-spinner {
	border-top-color:rgba(255, 0, 0, 1);
	border-left-color: rgba(255, 0, 0, 0.7);
	border-bottom-color: rgba(255, 0, 0, 0.4);
	border-right-color: rgba(255, 0, 0, 0.1);
}
.loading-spinner.blue-spinner {
	border-top-color:rgba(0, 0, 255, 1);
	border-left-color: rgba(0, 0, 255, 0.7);
	border-bottom-color: rgba(0, 0, 255, 0.4);
	border-right-color: rgba(0, 0, 0, 255.1);
}
.loading-spinner.green-spinner {
	border-top-color:rgba(0, 255, 0, 1);
	border-left-color: rgba(0, 255, 0, 0.7);
	border-bottom-color: rgba(0, 255, 0, 0.4);
	border-right-color: rgba(0, 255, 0, 0.1);
}
.loading-spinner.yellow-spinner {
	border-top-color:rgba(255, 200, 0, 1);
	border-left-color: rgba(255, 200, 0, 0.7);
	border-bottom-color: rgba(255, 200, 0, 0.4);
	border-right-color: rgba(255, 200, 0, 0.1);
}
/*
Animations
*/
@keyframes reverseLoadingSpinner {
	0% {
		transform:rotate(0deg);
	}
 	25% {
		transform:rotate(90deg);
	}
	50% {
		transform:rotate(180deg);
	}
	75%{
	   transform:rotate(270deg);
   	}
	100% {
		transform:rotate(360deg);
	}
}
